<div class="ui fixed inverted borderless pointing menu">
      <a href="#" class="item">
        <img class="logo" src="assets/p2p.png"> &nbsp;Collaboration BC
        <div class="item" *ngIf="authService.isAuthenticated()">[ currently logged on Node {{authService.getNode()}} as {{authService.getRoles()}} ]</div>
      </a>
      <div class="right menu">
      	  <div class="item" *ngIf="authService.isAuthenticated()"> <a class="ui button" (click)="logout()"><small>Log out</small></a> </div>
    </div>
</div>

<!-- LOGIN BLOCK -->
<div style="margin-top: 5em;" *ngIf="!authService.isAuthenticated()">

<div class="ui middle aligned center aligned grid">
  <div class="column" style="width:600px;">
    <h2 class="ui teal header">
      <div class="content">
        Log in to your account
      </div>
    </h2>
    <form class="ui large form">
	<div class="ui segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input #boxAccount type="text" name="account" placeholder="your account or your email">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input #boxKey type="password" name="key" placeholder="your key">
          </div>
        </div>
        <div class="ui large teal submit button" (click)="login(boxAccount.value,boxKey.value)">Login</div>

	</div>
    </form>
    <div>{{loginStatus}}</div>

  </div>
</div>

</div>

<!-- PAGE CONTENT BLOCK -->
<div style="margin-top: 5em;" *ngIf="authService.isAuthenticated()">

<!--
<div class="ui inverted violet segment">
<h3>Connected to Node {{authService.getNode()}}</h3>
Default account on the node: <i>{{defaultAccount}}</i><br>
Total number of accounts: <i>{{accounts.length}}</i><br>
Current Block Number: <i>{{blockNumber}}</i><br>
<div class="ui input">
  <input #box type="text" placeholder="value...">
</div>
<a class="ui button" (click)="basicTest(box.value)"><small>basic test</small></a>
</div>
-->


<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div style="display:inline-block;position:absolute;right:20px;" [@visibilityChanged]="visiblityState" > 
  <div [ngClass]="{'red':visiblityAlert === true}" class="ui label">{{poUpdateStatus}}</div>
</div>

<mat-table #poTable matSort class="mat-elevation-z8" [dataSource]="dataSource">
	<ng-container matColumnDef="poID">
        	<mat-header-cell *matHeaderCellDef mat-sort-header>PO</mat-header-cell>
		<mat-cell *matCellDef="let po">{{po.poID}}</mat-cell>
	</ng-container>
	<ng-container matColumnDef="poLine">
        	<mat-header-cell *matHeaderCellDef mat-sort-header>PO Line</mat-header-cell>
		<mat-cell *matCellDef="let po">{{po.poLine}}</mat-cell>
	</ng-container>
	<ng-container matColumnDef="poSL">
        	<mat-header-cell *matHeaderCellDef mat-sort-header>PO SL</mat-header-cell>
		<mat-cell *matCellDef="let po" >{{po.poSL}}</mat-cell>
	</ng-container>
	<ng-container matColumnDef="poType">
        	<mat-header-cell *matHeaderCellDef mat-sort-header>PO Type</mat-header-cell>
		<mat-cell *matCellDef="let po">{{po.poType}}</mat-cell>
	</ng-container>
	<ng-container matColumnDef="material">
        	<mat-header-cell *matHeaderCellDef mat-sort-header>Material</mat-header-cell>
		<mat-cell *matCellDef="let po">{{po.material}}</mat-cell>
	</ng-container>
	<ng-container matColumnDef="quantity">
        	<mat-header-cell *matHeaderCellDef>Req. Quantity</mat-header-cell>
		<mat-cell *matCellDef="let po">{{po.reqQty}}</mat-cell>
	</ng-container>
	<ng-container matColumnDef="status">
        	<mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
		<mat-cell *matCellDef="let po">{{po.status}}</mat-cell>
	</ng-container>
	<ng-container matColumnDef="date">
        	<mat-header-cell *matHeaderCellDef>Req. Date</mat-header-cell>
		<mat-cell *matCellDef="let po">{{po.reqDate}}</mat-cell>
	</ng-container>
	<ng-container matColumnDef="action1">
        	<mat-header-cell *matHeaderCellDef></mat-header-cell>
		<mat-cell *matCellDef="let po; let i = index">
			<div [ngClass]="{'disabled':po.status === 'OPEN'}" class="ui tiny positive button" (click)="supplierAcceptPO(i, po.poID)">Accept</div>
		</mat-cell>
	</ng-container>
	<ng-container matColumnDef="action2">
        	<mat-header-cell *matHeaderCellDef></mat-header-cell>
		<mat-cell *matCellDef="let po; let i = index">
			<div [ngClass]="{'disabled':po.status === 'OPEN'}" class="ui tiny negative button" (click)="supplierRejectPO(i, po.ID)">Reject</div>
		</mat-cell>
	</ng-container>
	<ng-container matColumnDef="history">
        	<mat-header-cell *matHeaderCellDef></mat-header-cell>
		<mat-cell *matCellDef="let po; let i = index">
			<a style="cursor:pointer;" (click)="history(po.poID)">history</a>
		</mat-cell>
	</ng-container>
	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    	<mat-row [ngClass]="{'highlight': selectedRowIndex == row.poID}"
         (click)="highlight(row)" *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

<sui-accordion >
    <sui-accordion-panel [isOpen]="false">
        <div title>
            <i class="dropdown icon"></i>Historical record of the PO 
        </div>
        <div content>
		<history [poID]="requestedHistory" ></history>
	</div>
    </sui-accordion-panel>
</sui-accordion>
	
</div>


